<div id="control-jog-z-config" class="jog-panel">
	<h1>Z Config</h1>
	<div>
		<input class="control-label" type="text" autocomplete="off" id="command-search" data-bind="enable: loginState.isUser(), textInput: commandString" placeholder="Val"/>
			
		<button class="control-label" type="submit" class="btn" data-bind="enable: isOperational(), click: sendCommand">Start</button>
	</div>
</div>