<div id="control-jog-z-config" class="jog-panel">
	<h1>Z Config</h1>
	<div class="input-block input-append">
		<input class="input-block" type="text" autocomplete="off" id="command-search" data-bind="enable: loginState.isUser() && isOperational(), textInput: commandString" placeholder="Val"/>
		<a href="#" class="btn add-on" data-bind="enable: isOperational(), click: Zconfig_sendCommand, css: {disabled: !isOperational()}">Start</a>
	</div>
</div>